.rdrCalendarWrapper {
  color: rgba((var(--color-text-100)));
  font-size: 12px;
  background-color: rgba(var(--color-background-100)) !important;
  border: 0.5px solid rgba(var(--color-border-200));
  border-radius: 6px;
  box-shadow: var(--color-shadow-rg);
}

.rdrDateDisplay {
  margin: 0.833em;
}

.rdrDateDisplayItem input {
  cursor: pointer;
  height: 2.5em;
  line-height: 2.5em;
  border: 1px solid rgba(var(--color-border-200));
  background: transparent;
  color: rgba(var(--color-text-100)) !important;
  width: 100%;
  border-radius: 4px;
}

.rdrDateDisplayItemActive input {
  border-color: rgba(var(--color-primary-100));
}

.rdrCalendarWrapper input::placeholder {
  color: rgba(var(--color-text-400)) !important;
}

.rdrMonthAndYearWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.rdrMonthAndYearPickers select {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid rgba(var(--color-border-200));
  background: transparent;
  padding: 0.25rem 0.35rem;
  font-size: 0.7875rem;
  border-radius: 4px;
  outline: 0;
  color: rgba(var(--color-text-200));
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.rdrMonthAndYearPickers select:hover {
  background-color: rgba(var(--color-background-80));
}

.rdrMonthAndYearPickers select:focus {
  border-color: rgba(var(--color-border-400)) !important;
}

.rdrMonthPicker,
.rdrYearPicker {
  margin: 0 5px;
}

.rdrNextPrevButton {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 0.833em;
  padding: 0;
  border: 1px solid rgba(var(--color-border-200));
  border-radius: 5px;
  background-color: rgba(var(--color-background-90));
  outline: none;
  background-repeat: no-repeat;
  background-size: 0.8rem 0.8rem;
  background-position: center;
}

.rdrNextPrevButton:hover {
  background-color: rgba(var(--color-background-80));
}

.rdrNextPrevButton:focus {
  border-color: rgba(var(--color-border-400)) !important;
}

.rdrPprevButton {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tbGVmdCI+PHBhdGggZD0ibTE1IDE4LTYtNiA2LTYiLz48L3N2Zz4=");
}

.rdrNextButton {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tcmlnaHQiPjxwYXRoIGQ9Im05IDE4IDYtNi02LTYiLz48L3N2Zz4=");
}

.rdrWeekDays {
  padding: 0 0.833em;
}

.rdrMonth {
  padding: 0 0.833em 1.666em 0.833em;
}

.rdrMonth .rdrWeekDays {
  display: flex;
  padding: 0;
}

.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName {
  display: none;
}

.rdrMonthName {
  display: none;
}

.rdrWeekDay {
  text-align: center;
  width: calc(100% / 7);
  font-weight: 400;
  line-height: 2.667em;
  color: rgba(var(--color-text-300));
}

.rdrDays {
  display: flex;
  flex-wrap: wrap;
}

.rdrDay {
  position: relative;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 0;
  text-align: center;
  width: calc(100% / 7);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  outline: none;
}

.rdrDayHovered::after,
.rdrDay:focus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-color: rgba(var(--color-primary-100), 0.2) !important;
}

.rdrSelected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-color: rgba(var(--color-primary-100));
}

.rdrDayNumber span {
  position: relative;
  z-index: 1;
}

.rdrDay:not(.rdrDayPassive) .rdrDayNumber span {
  color: rgba(var(--color-text-100));
}

.rdrSelected ~ .rdrDayNumber span {
  color: white !important;
}

.rdrDayNumber {
  outline: 0;
  font-weight: 300;
  display: grid;
  place-items: center;
}

.rdrDayNumber::after {
  display: none;
}

.rdrDayToday {
  position: relative;
}

.rdrDayToday::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: rgba(var(--color-primary-100), 0.4);
  z-index: 1;
}

.rdrDayToday .rdrDayNumber span {
  font-weight: 500;
}

/* background color for start and end days of range */
.rdrDay:has(.rdrStartEdge) .rdrStartEdge::before,
.rdrDay:has(.rdrEndEdge) .rdrEndEdge::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 50%;
  background-color: rgba(var(--color-primary-100), 0.2);
}

.rdrDay:has(.rdrStartEdge) .rdrStartEdge::before {
  right: 0;
}

.rdrDay:has(.rdrEndEdge) .rdrEndEdge::before {
  left: 0;
}

/* don't show background color if only one day is selected */
.rdrDay:has(.rdrStartEdge.rdrEndEdge) .rdrStartEdge.rdrEndEdge::before {
  display: none;
}

.rdrStartEdge,
.rdrEndEdge {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(var(--color-primary-100)) !important;
}

.rdrStartEdge ~ .rdrDayNumber span,
.rdrEndEdge ~ .rdrDayNumber span {
  color: white !important;
}

.rdrInRange {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 100%;
  background-color: rgba(var(--color-primary-100), 0.2) !important;
}

.rdrDayStartOfMonth .rdrDayInPreview,
.rdrDayStartOfMonth .rdrDayEndPreview,
.rdrDayStartOfWeek .rdrDayInPreview,
.rdrDayStartOfWeek .rdrDayEndPreview {
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  border-left-width: 1px;
  left: 0;
}

.rdrDayEndOfMonth .rdrDayInPreview,
.rdrDayEndOfMonth .rdrDayStartPreview,
.rdrDayEndOfWeek .rdrDayInPreview,
.rdrDayEndOfWeek .rdrDayStartPreview {
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  border-right-width: 1px;
  right: 0;
}

.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  background: rgba(255, 255, 255, 0.09);
  /* position: absolute; */
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  pointer-events: none;
  border: 0px solid currentColor;
  z-index: 1;
}

.rdrDayStartPreview {
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  left: 0;
}

.rdrDayInPreview {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.rdrDayEndPreview {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  right: 2px;
  right: 0;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.rdrDayPassive .rdrDayNumber span {
  color: rgba(var(--color-text-400));
}

.rdrDayDisabled {
  cursor: not-allowed;
  outline: none !important;
}

.rdrDayDisabled .rdrDayNumber span {
  color: rgba(var(--color-text-400)) !important;
}

.rdrDayDisabled .rdrInRange,
.rdrDayDisabled .rdrStartEdge,
.rdrDayDisabled .rdrEndEdge,
.rdrDayDisabled .rdrSelected,
.rdrDayDisabled .rdrDayStartPreview,
.rdrDayDisabled .rdrDayInPreview,
.rdrDayDisabled .rdrDayEndPreview {
  filter: grayscale(100%) opacity(60%);
}

/** custom **/
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  border: none !important;
}
